<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Prevent direct access to index.html
  RewriteRule ^index\.html$ - [L]

  # Redirect all other routes to index.html
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
